@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 55px;

    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.07);
}

.logo a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.logo-img {
    background: url("./assets/logo.png") center/cover no-repeat;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.logo-title > p {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    text-wrap: nowrap;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar > li {
    position: relative;
    height: 100%;
    align-content: center;
    padding: 0 20px;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}

li:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    background: transparent;
    border: 2px solid rgb(190, 160, 61);
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
    transition: all 0.5s;

    cursor: pointer;

    width: 100px;
    height: 40px;
}

.btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.btn::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.btn:hover::before {
    width: 0;
    background-color: rgba(190, 160, 61, 0.2);
}

.btn:hover::after {
    width: 0;
    background-color: rgba(190, 160, 61, 0.2);
}

.btn:hover {
    border: 2px solid #333;
}

.btn > span {
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: relative;
    text-wrap: nowrap;

    align-content: center;
    text-align: center;
}

.btn > span::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s;
}

.btn > span::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: 0.5s;
}


.btn > span:hover::after{
    height: 100%;
    background-color: rgba(190, 160, 61, 0.1);
}

.btn > span:hover::before{
    height: 100%;
    background-color: rgba(190, 160, 61, 0.1);
}


.dropdown {
    width: 170px;
}

.dropdown-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dropdown-menu {
    list-style-type: none;
    position: absolute;
    display: none;
    width: 250px;
    top: 55px;
    background-color: rgb(190, 160, 61);
    transform: translateX(-20px);
}


.dropdown-menu > li {
    padding: 5px 10px;
    font-weight: 400;
}

.dropdown-menu > li > a {
    font-size: 0.9rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > li:hover {
    font-weight: 600;
}

.custom-div {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.menu-bars {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.header .menu-bars .icon {
    color: #fff;
    font-size: 1.5rem;
}

.header .menu-bars:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.collapsible-menu {
    position: absolute;
    width: 100%;
    height: max-content;
    top: 55px;
    left: 0;
    background-color: rgb(190, 160, 61);
    display: none;
}

.collapsible-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.collapsible-menu ul li {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.collapsible-menu ul li:hover {
    background-color: rgba(61, 190, 85, 0.3);
    cursor: pointer;
}

.button-link {
    display: none;
}

@media only screen and (max-width: 1050px) {
    a{
        font-size: 0.9rem;
        text-wrap: nowrap;
    }

    .navbar > li {
        padding: 0 10px;
    }

    .dropdown-menu {
        transform: translateX(-10px);
    }

}

@media only screen and (max-width: 975px) {
    .navbar {
        display: none;
    }

    .logo .logo-title {
        display: none;
    }

    .menu-bars {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px){
    .buttons {
        display: none;
    }
    
    .button-link {
        display: block;
    }
}

.services-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-icon > span {
    color: #fff;
}

.services-collapsible-menu {
    display: none;
    background-color: rgba(255, 196, 0, 0.3);
}

.applications-collapsible-menu {
    display: none;
    background-color: rgba(255, 196, 0, 0.3);
}

.applications-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.applications-icon > span {
    color: #fff;
}